<script src="~/Scripts/angular.js"></script>
<script type="text/javascript">
    var app = angular.module("myApp", []);
    app.controller("fupController", ["$scope", "$http", "$window", "$sce", function ($scope, $http, $window, $sce) {

        //GET THE FILE SOURCE
        $scope.getFile = function (filename) {
            $http({
                method: "GET",
                url: "/api/Upload/GetImage?name=" + filename
            }).success(function (result) {
                $scope.result = result;
            }).error(function (error) {
            });
        };

        $scope.getPdf = function (filename) {
            $http({
                method: "GET",
                url: "/api/Upload/GetPdfByte?name=" + filename
            }).success(function (response) {                
                $window.open("data:application/pdf;base64," + response, "Preview", "width=900;height=600");
            }).error(function (error) {
            });
        };

        $scope.getImages = function () {
            $http({
                method: "GET",
                url: "/api/Upload/GetImages"
            }).success(function (response) {
                $scope.Images = response;
            }).error(function (error) {
            });
        }

        $scope.getFile("ICN_Logo");

        //$scope.getPdf("Yoga Therapy full book");

        $scope.getImages();

        // GET THE FILE INFORMATION.
        $scope.getFileDetails = function (e) {

            $scope.files = [];
            $scope.$apply(function () {

                // STORE THE FILE OBJECT IN AN ARRAY.
                for (var i = 0; i < e.files.length; i++) {
                    $scope.files.push(e.files[i])
                }

            });
        };

        // NOW UPLOAD THE FILES.
        $scope.uploadFiles = function () {

            //FILL FormData WITH FILE DETAILS.
            var data = new FormData();

            for (var i in $scope.files) {
                data.append("uploadedFile", $scope.files[i]);
            }

            $http({
                method: "POST",
                url: "/api/Upload/UploadFiles",
                data: data,
                headers: { 'Content-Type': undefined }
            }).success(function (data) {
            }).error(function (error) {
            });

            if (false) {
                // Another way of upload file
                // ADD LISTENERS.
                var objXhr = new XMLHttpRequest();
                objXhr.addEventListener("progress", updateProgress, false);
                objXhr.addEventListener("load", transferComplete, false);

                // SEND FILE DETAILS TO THE API.
                objXhr.open("POST", "/api/Upload/UploadFiles/");
                objXhr.send(data);
            }
        }

        // UPDATE PROGRESS BAR.
        function updateProgress(e) {
            if (e.lengthComputable) {
                document.getElementById('pro').setAttribute('value', e.loaded);
                document.getElementById('pro').setAttribute('max', e.total);
            }
        }

        // CONFIRMATION.
        function transferComplete(e) {
            alert("Files uploaded successfully.");
        }

        $scope.ShowPdf = function () {
            $window.open("http://localhost:54059/locker/Yoga%20Therapy%20full%20book.pdf", "PDF Preview", "width=900,height=600");
        };
    }]);
</script>

<div ng-app="myApp">
    <div ng-controller="fupController">

        @*<embed ng-src="{{content}}" style="width:200px;height:200px;"></embed>*@

        <div ng-repeat="image in Images">
            <div>
                <a href="{{image.Url}}" target="_blank">{{image.Name}}</a>
                <img src="data:image/JPEG;base64,{{image.Content}}" alt="Image" />
                <br />

            </div>
        </div>

        <a href="#" ng-click="ShowPdf()">Preview pdf</a>

        <input type="file" id="file" name="file" multiple
            onchange="angular.element(this).scope().getFileDetails(this)" />

        <input type="button" ng-click="uploadFiles()" value="Upload" />

        <!--ADD A PROGRESS BAR ELEMENT.-->
        <p><progress id="pro" value="0"></progress></p>
        <img src="data:image/JPEG;base64,{{result}}" />
        <img src="/api/Upload/Get?name=Chrysanthemum" />


    </div>
</div>
